<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/cursor.css"/>
    <link rel="stylesheet" href="/css/effect.css"/>
</head>

<body>
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<main>
    <section class="py-5">
        <div class="container">
            <ol class="breadcrumb ps-0  justify-content-start">
                <li class="breadcrumb-item customer">판매자</li>
            </ol>
            <h1 class="hero-heading mb-0">Name</h1>
            <div class="row">
                <div class="mb-5 mb-lg-0">
                    <div class="text-block">
                    </div>
                    <div class="text-block" style="border-bottom: none">
                        <div class="mb-4 col-sm-9">
                            <h5>등록한 물품</h5>
                        </div>
                        <div>
                            <div class="mb-2">
                                등록 물품 1
                                <span class="btn btn-danger px-1" style="margin-left: 0.5rem">삭제</span>
                            </div>
                            <div class="mb-2">
                                등록 물품 2
                                <span class="btn btn-primary px-1" style="margin-left: 0.5rem">예약</span>
                            </div>
                            <div class="mb-2">
                                등록 물품 3
                                <span class="btn btn-secondary px-1" style="margin-left: 0.5rem">완료</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
</body>
</html>
